@page "/"
@namespace GameStoreBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Store</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="GameStoreBlazor.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        Loading...
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
